doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style_icerik.css')
  body
    block content
    br
    hr
    p Tüm hakları saklıdır.
        |  İçerik 
        a(href='https://ismetozel.herokuapp.com') İsmet Özel API
        |  ile sağlanmaktadır.
