extends layout

block content
  center
    img(src='./images/ozelavatar.png')
  h1= title
    sup v#{version}
  hr
  p 
    a(href='https://github.com/kerimkaan/ozel') İsmet Özel API
    |'ya hoşgeldiniz.
  i Geliştirici: Kerim Kaan Dönmez 
    |(
    a(href='https://github.com/kerimkaan') Github
    | ,
    a(href='https://twitter.com/kerimkaandonmez') Twitter
    |)